advocate==1.0.0
aiodns==3.0.0
aiofiles==0.7.0
aiohttp==3.8.1
aiosignal==1.2.0
anytree==2.8.0
appdirs==1.4.4
APScheduler==3.6.3
aria2p==0.11.2
arxiv2bib==1.0.8
async-timeout==4.0.2
asyncio==3.4.3
attrdict==2.0.1
attrs==21.4.0
Babel==2.10.3
babelfish==0.6.0
backports-abc==0.5
beautifulsoup4==4.11.1
bencoding==0.2.6
bibtexparser==1.2.0
blinker==1.4
bpytop==1.0.68
Brotli==1.0.9
bs4==0.0.1
cachetools==4.2.2
calibreweb==0.6.18
cchardet==2.1.7
certifi==2021.10.8
cffi==1.15.0
cfscrape==2.1.1
chardet==4.0.0
charset-normalizer==2.0.12
cleo==1.0.0a4
click==8.0.4
colorama==0.4.5
configparser==5.2.0
crashtest==0.3.1
cryptography==37.0.1
datalib==0.0.0
decorator==5.1.1
deezer-py==1.3.6
discord==2.1.0
distlib==0.3.4
dogpile.cache==1.1.8
enzyme==0.4.1
et-xmlfile==1.1.0
execnet==1.9.0
feedparser==6.0.10
filelock==3.6.0
filetype==1.0.13
Flask==2.0.3
Flask-Babel==2.0.0
Flask-HTTPAuth==4.7.0
Flask-Login==0.5.0
Flask-Principal==0.4.0
Flask-WTF==1.0.1
frozenlist==1.3.0
future==0.18.2
google-api-core==2.7.1
google-api-python-client==2.45.0
google-auth==2.6.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
googleapis-common-protos==1.56.0
greenlet==1.1.2
guessit==3.2.0
gunicorn==20.1.0
habanero==1.2.2
httplib2==0.20.4
httplib2shim==0.0.3
idna==3.3
importlib-metadata==4.12.0
iniconfig==1.1.1
install==1.3.5
isbnlib==3.10.10
iso-639==0.4.5
iso8601==1.0.2
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.4.0
latexcodec==2.0.1
linkify-it-py==1.0.3
lk21==1.6.0
loguru==0.6.0
lxml==4.8.0
m3u8==0.9.0
markdown-it-py==2.1.0
MarkupSafe==2.1.1
mdformat==0.7.16
mdformat-gfm==0.3.5
mdformat_footnote==0.1.1
mdformat_frontmatter==2.0.1
mdformat_tables==0.4.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
mnamer==2.5.4
msgpack==1.0.3
multidict==6.0.2
mutagen==1.45.1
ndg-httpsclient==0.5.1
netifaces==0.11.0
numpy==1.23.1
oauth2client==4.1.3
oauthlib==3.2.0
openai==0.26.5
openpyxl==3.1.0
packaging==21.3
pafy==0.5.4
pagelabels==1.2.0
pandas==1.5.3
pandas-stubs==1.5.3.230203
papis==0.12
papis-zotero==0.1.0
pathlib==1.0.1
pathvalidate==2.5.0
pbr==5.9.0
pdfrw==0.4
Pillow==9.2.0
platformdirs==2.5.1
pluggy==1.0.0
progress==1.6
progressbar2==4.0.0
prompt-toolkit==3.0.30
protobuf==3.19.4
psutil==5.9.0
psycopg2-binary==2.9.3
py==1.11.0
py-cord==2.4.0
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybase64==1.2.2
Pybooru==4.2.2
pybtex==0.24.0
pycares==4.1.2
pycparser==2.21
pycryptodomex==3.14.1
Pygments==2.12.0
pylev==1.4.0
PyMuPDF==1.19.6
pynvim==0.4.3
pyOpenSSL==22.0.0
pypandoc==1.8.1
pyparsing==3.0.7
PyPDF3==1.0.6
pyperclip==1.8.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
Pyrogram==2.0.30
pyrsistent==0.18.1
PySocks==1.7.1
pysrt==1.1.2
pytest==7.1.1
pytest-cache==1.0
pytest-html==3.1.1
pytest-metadata==2.0.1
pytest-subtests==0.7.0
python-bps-continued==7
python-dateutil==2.8.2
python-doi==0.2.0
python-dotenv==0.20.0
python-magic==0.4.25
python-mpv==0.3.9
python-slugify==6.1.2
python-telegram-bot==13.11
python-utils==3.1.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pywal==3.3.0
PyYAML==6.0
pyz3r==6.0.2
pyzotero==1.5.4
qbittorrent-api==2022.5.32
questionary==1.10.0
Quote2Image==0.0.5
rarfile==4.0
rauth==0.7.3
rebulk==3.1.0
requests==2.27.1
requests-cache==0.5.2
requests-oauthlib==1.3.1
roman==3.3
rsa==4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
setuptools-git==1.2
sgmllib3k==1.0.0
simple-term-menu==1.4.1
six==1.16.0
slugid==2.0.0
soupsieve==2.3.2.post1
spectra-lexer==16.1.0
SQLAlchemy==1.4.39
stevedore==3.5.0
streamrip==1.9.4
subliminal==2.1.0
telegraph==2.1.0
teletype==1.1.0
tenacity==8.0.1
termpdf.py @ file:///Users/nashsauter/Documents/cli/termpdf.py
text-unidecode==1.3
TgCrypto==1.2.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.7.2
tornado==6.1
tqdm==4.63.0
Trackma==0.8.4
types-pytz==2022.7.1.0
typing_extensions==4.4.0
tzdata==2022.1
tzlocal==4.2
uc-micro-py==1.0.1
Unidecode==1.3.4
updog==1.4
uritemplate==4.1.1
urllib3==1.26.9
urwid==2.0.1
virtualenv==16.0.0
Wand==0.6.7
wcwidth==0.2.5
websocket-client==1.3.3
websockets==10.3
Werkzeug==2.0.3
WTForms==3.0.1
yarl==1.7.2
youtube-dl==2019.5.20
yt-dlp==2022.6.29
yTermPlayer==1.2.2
zipp==3.8.0
zotero-cli==0.3.0
